<form action="/" method="post">
  WHAT:&nbsp; <input type="text" name="what" placeholder="e.g. clack"><br>
  WHERE: <input type="text" name="where" placeholder="e.g. the factory"><br>
  DATE:&nbsp; <input type="text" name="date" placeholder="e.g. 2005-06-17"><br>
  HOUR:&nbsp; <input type="text" name="hour" placeholder="i.e. (0-23)"><br>
  <input type="submit" value="SUBMIT">
</form>

<h2>Sounds:</h2>
<table>
  <tr id="header">
    <th>WHAT</th>
    <th>WHERE</th>
    <th>DATE</th>
    <th>HOUR</th>
    <th>DESCRIPTION</th>
  </tr>
  {{#each sounds as |s|}}
  <tr>
    <th>{{s.what}}</th>
    <th>{{s.where}}</th>
    <th>{{s.date}}</th>
    <th>{{s.hour}}</th>
    <th>{{s.desc}}</th>
  </tr>
  {{/each}}
</table>
